@tailwind base;
@tailwind components;
@tailwind utilities;

/* WebKit (Chrome, Safari) */
input[type="range"]::-webkit-slider-thumb {
    display: none;
  }
  
  /* Firefox */
  input[type="range"]::-moz-range-thumb {
    display: none;
  }
  
  /* Standard (should work in most modern browsers) */
  input[type="range"]::-ms-thumb {
    display: none;
  }

  .split{
    transform: translateY(100);
  }
  


  * {
    box-sizing: border-box;
  }